<div ng-if="!$ctrl.pokemonLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<md-content class="md-padding" style="max-width: 400px;">
    <md-card>
      <md-card-header>
          <md-card-avatar>
              <img class="md-user-avatar" src="./assets/img/card-avatar.png" alt="Старый покемон"/>
          </md-card-avatar>
          <md-card-header-text>
              <span class="md-title">Старый покемон</span>
              <span class="md-subhead">борозды не портит</span>
          </md-card-header-text>
      </md-card-header>
      <md-card-content>

        <h1 class="media-heading">{{ $ctrl.pokemon.name | uppercase }}</h1>
        <p>Вес:
            {{ $ctrl.pokemon.weight}}, рост:
            {{ $ctrl.pokemon.height}}</p>

            <md-button class="md-raised md-primary" ng-click="$ctrl.deletePokemon($ctrl.pokemon.objectId)"><span class="glyphicon glyphicon-trash"></span>Удалить</md-button>
            <md-button class="md-raised md-primary" ng-href="#!/edit/{{ $ctrl.pokemon.objectId }}">Редактировать</md-button>
      </md-card-content>
</md-card>

</md-content>
<div class="alert alert-danger" role="alert" ng-if="$ctrl.notfoundError">Покемон не найден</div>

<!-- <uib-tabset active="activeTab">

    <uib-tab heading="Инфо" disable="disableControlTab">

        <h1 class="media-heading">{{ $ctrl.pokemon.name | uppercase }}</h1>
        <p>Вес:
            {{ $ctrl.pokemon.weight}}, рост:
            {{ $ctrl.pokemon.height}}</p>

    </uib-tab>

    <uib-tab heading="Операции" >

        <button class="btn btn-danger" ng-click="deletePokemon($ctrl.pokemon.objectId)">
            <span class="glyphicon glyphicon-trash"></span>
            Удалить
        </button>
        <a class="btn btn-primary" href="#!/edit/{{$ctrl.pokemon.objectId}}">
            Редактировать
        </a>

    </uib-tab>

</uib-tabset> -->

<div class="alert alert-success" role="alert" ng-if="deletionSuccess">Пока, покемон!</div>
<div class="alert alert-danger" role="alert" ng-if="deletionError">Покемоны не сдаются!</div>
