<div flex-gt-sm="50" flex="">
	<md-content class="md-padding" style="max-width: 400px;">
		<md-card>
			<md-list flex>
				<md-list-item class="md-1-line" ng-repeat="singlePokemon in $ctrl.pokemons" ng-href="#!/pokemons/{{ singlePokemon.objectId }}">
					<div class="md-list-item-text" layout="column">
						<h3>{{ singlePokemon.name | uppercase }}</h3>
					</div>
				</md-list-item>
			</md-list>
		</md-card>
	</md-content>
</div>
